.heading{
	color: #fff ;
	margin-top:4px;
	text-align:center;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-left:13rem;
	margin-right:10rem;
	margin-top:5rem;
}

.video-container.call-accepted{
	padding-left:50px;
}
.video-container .video{
	margin:5px;
}

.myId {
	background: #212121;
	display: grid;
	justify-content: center;
	align-content: center;
	color:white;
	margin:5rem;
	border-radius: 10px;
}

@media (max-width: 768px) {
  .video-container {
	margin-left:10rem;
	align-items: center;
	width:100%;
	margin-top:4px;
	margin-bottom:0;
  }

 .video-container.call-accepted{
	margin-left:0;
	padding-left:2px;
	padding-right:2px;
 }

  .myId {
    margin-left: 1rem; /* Adjust the margin size for small screens */
    margin-right: 1rem;
	margin-top:0;
	padding-top:0;
	padding-left:0;
	padding-right:0;
	border-radius: 10px;
  }
}

.call-button {
	text-align: center;
	padding-bottom:10px;
}

.caller {
	text-align: center;
	color: #fff;
}

