.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin:10rem;
}

.myId {
	background: #212121;
	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
	color:white;
	margin:5rem;
}

@media (max-width: 768px) {
  .video-container {
	margin:1rem;
	align-items: center;
	width:100%;
  }

  .myId {
    margin: 1rem; /* Adjust the margin size for small screens */
  }
}

.call-button {
	text-align: center;
}

.caller {
	text-align: center;
	color: #fff;
}

